[program:{{ gameserver_supervisor_program_name }}]
directory = {{ gameserver_host_dir }}/ ; 程序的启动目录
command = {{ gameserver_host_dir }}/{{ gameserver_start_file }} -r {{ room_num }} -t 2 ; 启动命令
autostart = {{ gameserver_supervisor_autostart | lower }}     ; 在 supervisord 启动的时候也自动启动
startsecs = {{ gameserver_supervisor_startsecs }}        ; 启动 {{ gameserver_supervisor_startsecs }} 秒后没有异常退出，就当作已经正常启动了
autorestart = {{ gameserver_supervisor_autorestart | lower }}   ; 程序异常退出后自动重启
startretries = {{ gameserver_supervisor_startretries }}     ; 启动失败自动重试次数，默认是 3
user = {{ gameserver_supervisor_user }}          ; 用哪个用户启动
redirect_stderr = false  ; 把 stderr 重定向到 stdout，默认 false
stdout_logfile_maxbytes = {{ gameserver_log_max_bytes }}  ; stdout 日志文件大小，默认 50MB
stderr_logfile_maxbytes = {{ gameserver_log_max_bytes }}  ;
stdout_logfile_backups = {{ gameserver_log_backups }}     ; stdout 日志文件备份数;需要注意当指定目录不存在时无法正常启动，
stderr_logfile_backups = {{ gameserver_log_backups }}     ;
stdout_logfile = {{ gameserver_host_log_dir }}/{{ gameserver_supervisor_program_name }}-access.log
stderr_logfile = {{ gameserver_host_log_dir }}/{{ gameserver_supervisor_program_name }}-error.log
