<?xml version="1.0" encoding="utf-8"?>
<!--

-->
<config>
        <sys logtype="1" atpbfs="104857600"/>
        <server seck_buf_size="32768" snd_buf_size="10485760" heart_sec="5" heart_timeout="30" updateconfigtime="180"/>

        <gate ip="127.0.0.1" port="29102"/>
        <gate ip="127.0.0.1" port="29103"/>
        <gate ip="127.0.0.1" port="29104"/>
        <dbproxy ip="127.0.0.1" port="29201"/>
        <redis   ip="127.0.0.1" port="7379" auth="cv6bkkfBtIvIIUz9"/>
        <game_dll name="" game_id="" roomtype="2" agent_mode="2" disable_sync="1"/>
        <web client_version_api="" http_thread_num="20" room_config_api="http://demo-server.igame.game/api/%s"/>
</config>
