<?xml version="1.0" encoding="utf-8"?>
<!--

-->
<config>
    <sys logtype="3" atpbfs="104857600"/>
    <server seck_buf_size="32768" snd_buf_size="10485760" heart_sec="5" heart_timeout="30" updateconfigtime="180"/>

    <gate ip="172.31.40.102" port="19102"/>
    <gate ip="172.31.40.102" port="19103"/>
    <gate ip="172.31.40.102" port="19105"/>

    <gate ip="172.31.24.81" port="19102"/>
    <gate ip="172.31.24.81" port="19103"/>
    <gate ip="172.31.24.81" port="19105"/>

    <gate ip="127.0.0.1" port="19102"/>
    <gate ip="127.0.0.1" port="19103"/>
    <gate ip="127.0.0.1" port="19105"/>
    <dbproxy ip="127.0.0.1" port="19201"/>
    <redis   ip="172.31.40.101" port="6380" auth="cv6bkkfBtIvIIUz9"/>
    <game_dll name="" game_id="" roomtype="2" agent_mode="2" disable_sync="1"/>
    <web client_version_api="" room_config_api="http://server.igame.game/api/%s"/>
</config>
